<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Brendan's Blog - $title$</title>
        <link rel="stylesheet" href="/css/default.css" />
        <link rel="alternate" type="application/atom+xml" title="Brendan's Blog" href="https://www.brendanalbano.com/feed.xml" />
    </head>
    <body>
        <header>
            <div class="logo">
                <a href="/">Brendan's Blog</a>
            </div>
            <nav>
                <a href="/">Home</a>
                <a href="/about.html">About</a>
                <a href="/blogroll.html">Blogroll</a>
                <a href="/archive.html">Archive</a>
                <a href="/feed.xml">RSS</a>
            </nav>
        </header>

        <main role="main">
            <h1>$title$</h1>
            $body$
        </main>

        <footer>
            Peer into the guts of my blog on 
            <a href="https://github.com/balbano/balbano.github.io">GitHub</a>
        </footer>
    </body>
</html>
